.order{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 50px;
}


.greenbutton
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
}
