.content  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  width: -webkit-fill-available;
  background-image: url('/assets/img/Wall.jpg') !important;
  background-size: cover;
  background-position: center center;
}

.Main_Part{

  height: auto;
}
.header
{
  height: 110px;
}
